body {
  @include body-copy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Test Söhne Breit";
}

p {
  margin-bottom: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1em;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  @include clamp("font-size", 14px, 1.05vw, 20px);
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $light_green;
  padding: 1em 1.65em;
  transition: 0.15s background-color, 0.15s color;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: $yellow;
    color: $dark_green;
  }
}

.link {
  color: $white;
  font-weight: 600;
  font-size: 20px;
  @include clamp("font-size", 14px, 1.05vw, 20px);
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 1em 1.65em;
  transition: 0.15s background-color, 0.15s color;
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $light_green;
  }
}
